$backColor: #f7f7f7; //背景色
$mainBlack: #111111; //主色
$red: #f66745; //主红色
$black: #333333;
$green: #67be41;
$gray: #919191;
$orange: #ff7800;
$border: #f0f0f0;
$white: #ffffff;

// 颜色
.green {
	color: $green !important;
}
.orange {
	color: $orange !important;
}
.black {
	color: $mainBlack !important;
}
.gray {
	color: $gray;
}
.red {
	color: $red !important;
}
view,
text,
scroll-view,
button,
input {
	box-sizing: border-box;
}

button,
input {
	background: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	// padding: 0 !important;
	margin-left: 0;
	margin-right: 0;
	overflow: visible;
	border-radius: 0;
	border: none;
	font-weight: normal !important;
	min-height: 0 !important;
}
// hover透明
.opacity {
	opacity: 0.8;
}

// 排版
.row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.row-between-a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.row-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.row-start-a {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.row-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
.column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.column-center-a {
	display: flex;
	flex-direction: column;
}
.column-center-b {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
.column-center-c {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.column-center-d {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.wrap {
	flex-wrap: wrap;
}

// 省略号
.textElis {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 二行省略
.textElis2 {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: box;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
}

// 距离
.mgl20 {
	margin-left: 20rpx;
}
.mgl15 {
	margin-left: 15rpx;
}
.mgl10 {
	margin-left: 10rpx;
}
.mgb10 {
	margin-bottom: 10rpx;
}
.mgb15 {
	margin-bottom: 15rpx;
}
.mgb20 {
	margin-bottom: 20rpx !important;
}
.mgb30 {
	margin-bottom: 30rpx;
}
.mgb40 {
	margin-bottom: 40rpx;
}
.mgb50 {
	margin-bottom: 50rpx !important;
}
.mgb100 {
	margin-bottom: 100rpx;
}
.mgr0 {
	margin-right: 0 !important;
}
.mgr5 {
	margin-right: 5rpx;
}
.mgr10 {
	margin-right: 10rpx;
}
.mgr15 {
	margin-right: 15rpx;
}
.mgr30 {
	margin-right: 30rpx;
}
.pdb30{
	padding-bottom: 30rpx !important;
}
.flex1 {
	flex: 1 !important;
}
.flex2 {
	flex: 2 !important;
}
// 下划线
.borderbottom {
	border-bottom: 1px solid $border;
}
.bordertop {
	border-top: 1px solid $border;
}
.hover:hover {
	opacity: 0.75;
}

// 字体大小
.font24 {
	font-size: 24rpx !important;
}
.font30 {
	font-size: 30rpx;
}
.font32 {
	font-size: 32rpx;
}
.font36 {
	font-size: 36rpx;
}
.weight {
	font-weight: bold;
}

// 按钮

.main-btn {
	width: 100%;
	height: 80rpx;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $red;
	border-radius: 40rpx;
	font-size: 30rpx;
	letter-spacing: 2rpx;
}
.middle-btn{
	width: 40%;
	height: 80rpx;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $red;
	border-radius: 40rpx;
	font-size: 30rpx;
	letter-spacing: 2rpx;
}
.red-shadow {
	box-shadow: 0px 0px 12rpx 0px $red;
}

.boxOuter {
	width: 100%;
	background: $white;
	box-shadow: 0px 0px 8rpx 0px rgba(218, 218, 218, 0.5);
	border-radius: 12rpx;
	margin-bottom: 20rpx;
	padding: 30rpx;
}
.boxInner {
	width: 100%;
	background: $white;
	margin-bottom: 20rpx;
}
.animation-img {
	animation-name: scaleDraw; /*关键帧名称*/
	animation-timing-function: ease-in-out; /*动画的速度曲线*/
	animation-iteration-count: infinite; /*动画播放的次数*/
	animation-duration: 2s; /*动画所花费的时间*/
}
@keyframes scaleDraw {
	/*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
	0% {
		transform: scale(1); /*开始为原始大小*/
	}
	25% {
		transform: scale(1.1); /*放大1.1倍*/
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.1);
	}
}

.bottom-point {
	width: 0;
	height: 0;
	border: 12rpx solid;
	border-color: $mainBlack transparent transparent transparent;
	position: relative;
	top: 5rpx;
}
